# Production Environment
PORT=4026
NODE_ENV=production

# Database connection string - MongoDB Atlas
# mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/yps-academy-prod?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/yps-academy-prod?retryWrites=true&w=majority

# Frontend URL (CORS)
FRONTEND_URL=https://yps-academy.vercel.app
