# Development Environment
PORT=4026
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/yps-academy-dev?retryWrites=true&w=majority

# Frontend URL (CORS)
FRONTEND_URL=https://yps-academy-develop.vercel.app
